.modalOtp {
  position: absolute;
  width: 500px;
  height: 441px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.overlayOtp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.otpHeading {
  position: absolute;
  
  font-weight: 500;
  font-size: 20px;
  left: 20px;
  line-height: 23px;
  color: #091982;
}

.divider {
  position: absolute;
  width: 100%;
  height: 0px;
  top: 55px;
  border: 1px solid #d5daf2;
}

.verifyButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 4px;
  position: absolute;
  width: 166px;
  height: 40px;
  left: 314px;
  top: 377px;
  color: white;
  background: #5a6acf;
  border-radius: 8px;
}

.propertyHeading {
  position: absolute;
  left: 20px;
  top: 75px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
}

.propertyAddress {
  position: absolute;
  left: 20px;
  top: 102px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}

.paraDivider {
  position: absolute;
  width: 460px;
  height: 0px;
  left: 20px;
  top: 154px;
  border: 1px solid #d5daf2;
}

.detailsHeading {
  position: absolute;
  height: 19px;
  left: 20px;
  top: 174px;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
}

.enterOtp {
  position: absolute;
  left: 20px;
  top: 281px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}

.textBox {
  box-sizing: border-box;
  position: absolute;
  width: 460px;
  height: 40px;
  left: 20px;
  top: 305px;
  border: 1px solid #d5daf2;
  border-radius: 4px;
}

.aadharNumber {
  position: absolute;
  left: 20px;
  top: 217px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}

.buyersName {
  position: absolute;
  left: 197px;
  top: 217px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}

.dateOfBirth {
  position: absolute;
  left: 351px;
  top: 217px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}

.aadharNumberText {
  position: absolute;
  left: 20px;
  top: 237px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6b6b6b;
}

.buyersNameText {
  position: absolute;
  left: 197px;
  top: 237px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6b6b6b;
}

.dateOfBirthText {
  position: absolute;
  left: 351px;
  top: 237px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6b6b6b;
}
