.LoginBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5a6acf;
  color: White;
  font-weight: 600;
  padding: 10px;
  border: transparent;
  border-radius: 2px;
}
.LoginBtn:hover {
  outline: 1px solid#5A6ACF;
  box-shadow: #d1d6f7 0px 0px 2px 5px;
  cursor: pointer;
}
.aadhaarimg {
  width: 200px;
}
