@import "../../../Variables/baseVariable.scss";

.LoginBtn {
  width: 100%;
  @include DivCenter;
  background-color: $primaryDarkColor;
  color: $primaryLightColor;
  font-weight: 600;
  padding: 10px;
  border: transparent;
  border-radius: 2px;
  &:hover {
    outline: 1px solid $primaryDarkColor;
    box-shadow: rgb(249, 221, 171) 0px 0px 2px 5px;
    cursor: pointer;
  }
}
