.GeneralcardMainDiv {
  box-sizing: border-box;

  padding: 16px 24px;
  border-radius: 4px;
  border: 1px solid #d5daf2;
}
.GeneralcardMainDiv:hover {
  border: 1px solid #5a6acf;
}

.GeneralcardPropertyHeading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: #091982;
  padding-bottom: 13px;
  border-bottom: 1px solid #d5daf2;
  margin-bottom: 24px;
}
.GeneralcardContent {
  display: flex;
  gap: 120px;
}
.GeneralcardContent > div > div:nth-child(1) {
  display: flex;
  gap: 6px;
  font-weight: 400;
  font-size: 12px;
  color: #757575;
}
.GeneralcardContent > div > div:nth-child(2) {
  font-weight: 400;
  font-size: 14px;
  color: #212121;
  margin-top: 12px;
}
#GeneralcardContentStatus {
  color: #149d52;
  font-weight: 500;
}
