.actionCardMainDivTop {
  border-radius: 4px;
  border: 1px solid #d5daf2;
  box-sizing: border-box;
  padding-bottom: 0px;
  width: 300px;
  height: 275px;
}
.actionCardMainDiv {
  padding: 16px 24px;
}
.actionCardMainDivTop:hover {
  border: 1px solid #5a6acf;
}

.actionCardPropertyHeading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  color: #212121;
  padding-bottom: 13px;
  border-bottom: 1px solid #d5daf2;
}
.actionCardPropertyStatusMain {
  padding-bottom: 25px;
  padding-top: 20px;
}
.actionCardownstatus {
  width: 100%;
  display: flex;
}
.actionCardownstatus > div {
  width: 50%;
}
.actionCardimgDiv {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 400;
  font-size: 12px;
  color: #757575;
}
.actionCardPropertyStatusMain {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.actionCardPersonName {
  font-weight: 400;
  font-size: 14px;
}
.actionCardForSale {
  font-weight: 500;
  font-size: 14px;

  color: #149d52;
}
.actionCardButtonDiv {
  margin-bottom: 16px;
}
.actionCardDocDiv {
  display: flex;
  gap: 6px;
}
.actionCardDocDiv > div {
  font-weight: 400;
  font-size: 12px;

  text-decoration-line: underline;

  color: #757575;
}
.actionCardButtonDiv {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 13px;
  font-weight: 400;
  font-size: 14px;
  color: white;
  border: none;
  background: #5a6acf;
  margin: 0px;
}
